<div class="app-container">
  <ng-container *ngIf="isAuthenticated$ | async; else loginView">
    <!-- Left Sidebar -->
    <app-feed-manager 
      *ngIf="showLeftMenu"
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggled)="onSidebarToggled($event)"
      (mouseenter)="onMenuMouseEnter()"
      (mouseleave)="onMenuMouseLeave()"></app-feed-manager>
    
    <!-- Main Content Area -->
    <div class="main-layout" [class.sidebar-collapsed]="isSidebarCollapsed" [class.menu-hidden]="!showLeftMenu">
      <app-header 
        (sidebarToggleRequested)="toggleSidebar()"
        (leftMenuToggled)="showLeftMenu = $event"></app-header>
      
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-container>

  <ng-template #loginView>
    <app-login></app-login>
  </ng-template>
</div>
